# jupyter markdown
## jupyter markdown
### jupyter markdown
#### jupyter markdown
##### jupyter markdown
###### jupyter markdown

- point1
 - sub point1.1
 - **sub point1.2**
 - ***sub point1.3***
 - *sub point1.4*
- point2
- point3

### python introduction
- python 3
- python can be used as functinal programming
- python can be used as scripting programming
- python initially designed by **Guido Van Rossum** in 1981

In [1]:
# Input and Output Function
# output Function
print("hello world")
print("welcome to python programming")

hello world
welcome to python programming

In [2]:
print("markdown cell",end ='')
print("code cell")

markdown cellcode cell

In [3]:
#input Function
print("enter your name : ")
a = input(' ')
print('your name is',a)

enter your name :
 Naresh kumar
your name is Naresh kumar

In [4]:
x = 10
type(x)

int

In [5]:
y = 12
x+y

22

In [8]:
x =10
y = 10.5
print(x+y)
type(y)

20.5

float

In [9]:
c=2+ 2j
d=3+ 3j
c+d

(5+5j)

In [14]:
# typecasting
a=12.5
print(int(a))
complex(a)

12

(12.5+0j)

In [15]:
complex(3,4)

(3+4j)

In [17]:
a= True
type(a)

bool

In [18]:
b=False
type(b)

bool

In [19]:
# string:
a="python"
b="b"
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [20]:
a='100'
print(type(a))
b = int(a)
print(type(b))
c = float(a)
type(c)

<class 'str'>
<class 'int'>

float

In [21]:
a = '1234'
len(a)

4

In [22]:
a=1233
len(str(a))

4

# operators
### Arithmetic operators:
#### +,-,*,/,%,//,**

In [23]:
123/5

24.6

In [24]:
123//5

24

In [28]:
a = 3
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

5
1
6
1.5
1
1
9

# Logical operators
## and,or,not

x=12
y=5
print(x>=20 and y<=3)
print(x>=12 and y<=5)
print(x>=20 or y<=5)
not x

# relational operators
## <,<=,>,>=,==,!=

In [35]:
x=2
y=3
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)
print(x==y)
print(x!=y)

False
False
True
True
False
True

# membership operators
## in,not in

In [37]:
a = "python"
print('p' in a)
print('p' in a)
print('p' not in a)
print('z' not in a)

True
True
False
True

# conditional statements
## if(single conditions)
### if else (two conditions)
#### elif(mutiple conditions)
# syntax

## if condition:
      - statements

In [41]:
# to check thee given number is even or odd 
a= input("enter a number")

enter a number3

In [42]:
type(a)

str

In [58]:
a=int(input("enter a number"))
if a%2==0:
    print("even")
else:
    print("odd")

enter a number6
even

In [59]:
# check divisible by 3 or 5
a=int(input("enter a number"))
if a%3==0 and a%5==0:
    print("possible")
else:
    print("not")

enter a number15
possible

In [66]:
# check for positive,negative and zero 
n=int(input(""))
if n>0:
    print("positive")
elif n<0:
    print("negative")
elif n==0:
    print("zero")

0
zero

In [80]:
#leap year or not
a=int(input("enter a number"))
if(a%400==0):
    print("leap")
elif(a%100==0):
    print("not leap year")
elif(a%4==0):
    print("leap")
else:
    print("not")

enter a number2012
leap

## looping statements
### while loop
#### for loop

## syntax
    - while conditions:
       - statements:

In [ ]:
# print 1 to n number
n=int(input(""))
i=1
while i<=n:
    print(i)
    i+=1

In [1]:
# print 1 to n number
n=int(input(""))
i=1
while i<=n:
    print(i)
    i+=1

6
1
2
3
4
5
6